// Main page
  //--red: #ef5350
  //--white: #fff
  //--pink: #f06292
  //--yellow: #ffb74d
  //--purpple: #9c27b0

.default
  min-height: 3000px

.navbar-brand
  svg
    width: 2.5em
    transform: translateY(-1px)

    .st0
      fill: #f06292

    .st1
      fill: #ffb74d

    .st2
      fill: #9c27b0

.nav-link
  .theme-changes
    width: 1.4em
    height: 1.4em
    margin-top: 1px
    margin-right: .2em
    display: inline-block
    background-color: #000
    border-radius: 25px
  span
    display: inline-block
    transform: translateY(-5px)

section.main
  padding-top: 5em

.red, .white
  margin: -1px 0

  p
    margin-bottom: 0

.red
  color: #fff
  background: #ef5350

.white
  color: #ef5350
  background: #ffffff

.gelombang1
  fill: #ef5350

// Billy Page
.billy
  background: black
  font-family: "Times New Roman", Times, serif !important

  .unline
    text-decoration: none
